body{
	margin: 0;
	padding: 0;
	background: url(background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover; 
}

.box{
	width: 450px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-img{
	border-radius: 50%;
	width: 300px;
	height: 320px; 
}

.box h1{
	font-size: 40px;
	letter-spacing: 5px;
	font-weight: 100;
}

.box h5{
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 100;
}	

.box p{
	font-size: 15px;
	letter-spacing: 3px;
	font-weight: 100;
	line-height: 30px;
	text-align: justify;
}


.box #logos ul{
	margin: 0;
	padding: 0; 

}
.box li{
	display: inline-block;
	margin-right: 46px;
	list-style: none;
	
}
.box li a{
	color: white;
	text-decoration: none;
	font-size: 45px;
	transition: all ease-in-out 250ms;
}

.box li a:hover{
	color: #b9b9b9
}


.cor1{
	font-weight: bold;
	color: #ADFF2F;
}
